In [1]:
# 자료형-정수, 실수, 논리형, 문자, 리스트, 딕셔너리, 튜플 ....
a, b, c, d = 5, 2.5, True, "문자"

In [2]:
## 1~10까지의 값이 있는 List를 만들자
f=[]   ## 빈 리스트를 정의
for i in range(1, 11, 1):
    f.append(i)   ## f리스트에 반복되는 i값을 맨 마지막 위치에 삽입
    print(f)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
g=[]   ## 빈 리스트를 정의
for i in range(1, 11, 1):
    g.insert(0, i)   ## f리스트에 반복되는 i값을 특정 위치에 삽입
    print(g)

[1]
[2, 1]
[3, 2, 1]
[4, 3, 2, 1]
[5, 4, 3, 2, 1]
[6, 5, 4, 3, 2, 1]
[7, 6, 5, 4, 3, 2, 1]
[8, 7, 6, 5, 4, 3, 2, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [4]:
f[5]=10
f

[1, 2, 3, 4, 5, 10, 7, 8, 9, 10]

In [5]:
f[:3], f[5:], f[2:8:2], f[::-1]

([1, 2, 3], [10, 7, 8, 9, 10], [3, 5, 7], [10, 9, 8, 7, 10, 5, 4, 3, 2, 1])

In [6]:
del f[3]  ## del 리스트이름[인덱스번호]
f

[1, 2, 3, 5, 10, 7, 8, 9, 10]

In [7]:
f.pop(2)
f

[1, 2, 5, 10, 7, 8, 9, 10]

In [8]:
f.remove(9)   ## 위치와 상관없이 데이터 삭제
f.remove(10)  ## 만약 데이터가 중복된다면 앞쪽 중복 데이터 1개만 삭제
f

[1, 2, 5, 7, 8, 10]

In [9]:
print(f)
if 5 in f :
    f.remove(5)
    print(f, "5 삭제 함")
else:
    print(f, "5 없어서 삭제 못함")
f

[1, 2, 5, 7, 8, 10]
[1, 2, 7, 8, 10] 5 삭제 함

[1, 2, 7, 8, 10]

In [10]:
## g 리스트의 5가 몇번?
g.count(5)

1

In [11]:
## g 리스트의 5의 인덱스번호?
g.index(5)

5

In [12]:
max(g), min(g), sum(g), len(g)

(10, 1, 55, 10)

객체지향
-클래스 -> 객체
   사람        홍길동, 고소영

-구성요소
   1) 속성 
         - 성질, 특정 값
         - 사람.눈색깔 = 파랑
         - 홍길동.입색 = 빨강

   2) 메서드 
         - 일, 동작
         - 사람.밥먹다()
         - 홍길동.자다()

In [13]:
a=2
b=5
a, b=b,a   ## 상호 자리 교환
a, b

(5, 2)

In [14]:
# 2개의 수를 입력받아서 두 수 사이의 합을 구하는 함수를 만들어라.
## 함수 정의
def sum2(no1=1, no2=10):  ## no1이 작은 수로 간주
    if no1 > no2 :
        no1, no2=no2, no1
    result=0
    for i in range(no1, no2+1, 1):
        result=result+i
        print(i,"+ ", end="")
    print("=", result)
    return "ok"

In [15]:
## 정의 된 함수 호출하여 사용
sum2(2,5)
sum2(9,4)
sum2()

2 + 3 + 4 + 5 + = 14
4 + 5 + 6 + 7 + 8 + 9 + = 39
1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + = 55

'ok'

In [16]:
## 튜플 - 상수(변할수 없는 값) -- 연산속도가 빠름
y=1,8,7
z=(1,5,90)
print(y)
z[0], z[:2]

(1, 8, 7)

(1, (1, 5))

## 딕셔너리
- key이름:value값 을 {}로 묶는다.
- 딕셔너리는 이름으로 접근 (리스트는 인덱스 위치로 접근)
- 인덱싱, 슬라이싱 XXXX

In [17]:
person = {'사람이름' : '홍길동', '나이' : 26, '몸무게' : 82 }
print(person['사람이름'])
print(person['나이'])
print(person['몸무게'])

홍길동
26
82

In [18]:
person.popitem() ## 랜덤하게 1개의 항목을 삭제

('몸무게', 82)

In [19]:
person.clear()
person

{}

In [20]:
person.keys()

dict_keys([])

In [21]:
person.values()

dict_values([])

In [22]:
person.items()

dict_items([])

In [23]:
person = {'사람이름' : '홍길동', '나이' : 26, '몸무게' : 82}
person['직업'] = '율도국의 왕'
print(person)

{'사람이름': '홍길동', '나이': 26, '몸무게': 82, '직업': '율도국의 왕'}

In [24]:
person['나이'] =20
print(person)

{'사람이름': '홍길동', '나이': 20, '몸무게': 82, '직업': '율도국의 왕'}

In [25]:
del person['나이'] 
print(person)

{'사람이름': '홍길동', '몸무게': 82, '직업': '율도국의 왕'}

In [26]:
if '사람이름' in person.keys() :
    person.pop('사람이름')
else:
    print('사람이름 없다')
person

{'몸무게': 82, '직업': '율도국의 왕'}

In [27]:
if '사람이름' in person :
    person.pop('사람이름')
else:
    print('사람이름 없다')
person

사람이름 없다

{'몸무게': 82, '직업': '율도국의 왕'}

In [28]:
person.get('몸무게')

82

In [29]:
person['몸무게']

82